@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-image : linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url("bg1.jpg");
    bckground-repeat: no-repeat;
    background-size : 100%;
    font-family: 'Monterrat' , sans-serif;
}   

#name {
    position: absolute;
    left: 50%;
    top: 1%;
    transform : translate(-50%);
    color: #e7e7e7
    
}
#chatLog {
    text-align : center;
    color : #e7e7e7;
}
.input {
    background-color : #2c2c2c;
    color : #e7e7e7;
    border-radius : 50px;
    border : none;
    text-align : center;
    position : sticky;
    top : 50%;
    left : 50%;
    transform : translate(-50%);
    width : 50%;
    height : 25px;
    transition : 0.8s;
 }
 #instructions {
     color : #e7e7e7;
     position : sticky;
     top : 92%;
     left : 6%;
     transform : translate(5%, -1%);
 }
