h1 {
    color:black;
    text-align:center;
    background-color:yellow;
body {
    text-align:left;
    background-color: black;
    color: white;
    font-family: poppins, sans-serif;
    background-image: url('img01.jpg');
    background-repeat: no-repeat;
    backgrond-attachment: fixed;
    background-size: cover;
}
