img {
    height:100px;
    width:200px;
}

h1 {
    color:white;
    text-align:center;
    background-color:black;
}

body {
    text-align:left;
    background-color: black;
    color: white;
    font-family: poppins, sans-serif;
    background-image: url('img01.jpg');
    background-repeat: no-repeat;
    backgrond-attachment: fixed;
    background-size: cover;
}
